version: ~> 1.0

import:
  - silverstripe/silverstripe-travis-shared:config/provision/standard.yml

jobs:
  fast_finish: true
  include:
    - php: 7.3
      env:
        - DB=MYSQL
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE 4.7.x-dev"
        - PHPUNIT_TEST=1
        - PHPCS_TEST=1
        - PHPSTAN_TEST=1
    - php: 7.3
      env:
        - DB=PGSQL
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE 4.8.x-dev"
        - PHPUNIT_TEST=1
        - COW_TEST=1
    - php: 7.4
      env:
        - DB=MYSQL
        - PDO=1
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE 4.9.x-dev"
        - PHPUNIT_COVERAGE_TEST=1
    - php: 7.4
      env:
        - DB=MYSQL
        - REQUIRE_INSTALLER="$REQUIRE_RECIPE 4.x-dev"
        - PHPUNIT_TEST=1
        - REQUIRE_GRAPHQL="^3@dev || 4.x-dev"
